
@{
    ViewBag.Title = "Painel do Usuário";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 sidebar">
            @Html.Partial("_MenuUsuario")
        </div>
      
        <div class="col-md-9 col-sm-8">
            <h1 class="page-header">
                Painel do Usuário

                @if (Session["nomeUsuarioLogado"] != null)
                {
                    <text>
                        <small>/ Bem Vindo(a), @Session["nomeUsuarioLogado"].ToString()! </small>
                    </text>
                }

            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Painel do Usuário", "Index", "Usuarios")
                </li>
                <li class="active">Estatísticas</li>
            </ol>


            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file-text-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@Session["QuantNoti"].ToString()</div>
                                    <div>Notícias criadas</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">@Html.ActionLink("Ver Detalhes", "MinhasNoticias", "Noticias")</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file-text-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@Session["QuantNotiDstv"].ToString()</div>
                                    <div>Notícias não disponíveis</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">@Html.ActionLink("Ver Detalhes", "MinhasNoticias", "Noticias")</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

